services:
  php:
    container_name: 'php-file-manager'
    hostname: 'php-file-manager'
    image: 'php:8.4-apache'
    restart: unless-stopped
    volumes:
      - ./etc/apache2/sites-enabled:/etc/apache2/sites-enabled
      - ./script:/root/script
      - ./log:/root/log
      - ./wwwroot:/var/www/tfm
      - ./html:/var/www/html
      - /users:/var/www/users
    environment:
      - APACHE_LOG_DIR=/root/log
    entrypoint: ["sh", "/root/script/start.sh"]
    network_mode: host
    storage_opt:
      size: 500M
